#gallery{
    background: rgb(125,126,125); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}
ul#gallery{
    height: 120px;
    margin: 0;
    list-style: none;
    color: #fff;
    font: normal 22px Arial, sans-serif;
}
ul#gallery li{  
    padding: 30px 20px 0px 40px;
    display:none; 
}

table.scoretable td{ 
    text-transform: uppercase; 
    padding: 3px 5px; 
}

table.scoretable td.team{ 
    width: 250px;
}

table.scoretable td.score{
    text-align: right;
}

table.scoretable td.period{
    text-align: center; 
    width: 150px; 
    vertical-align: middle;
}
table.scoretable td.note{ 
    font-size: 12px;  
    font-style: italic;
}
table.scoretable td.league{
    padding-right: 20px;
}

#time{ color: #999999;}