body{
	font-family: sans-serif !important;
}
.simply-scroll { /* Customisable base class for style override DIV */
	width: 1344px;
	height: 64px;
	/*margin-bottom: 1em;*/
}

	.simply-scroll .simply-scroll-clip {
		width: 704px;
		height: 32px;

		
	}

	.simply-scroll .simply-scroll-list li {
			float: left;
/* 			width: 450px; */
			height: 32px;
			padding: 0px 10px;
 			padding-right: 30px;
/* 			border: thin solid lime; */
/*			background-color: lightblue;*/
		}

		.simply-scroll .simply-scroll-list li.slim {
			width: 64px;

		}
		.simply-scroll .simply-scroll-list li.mlblogo {
			width: 100px;
		}

		.simply-scroll .simply-scroll-list li.nbalogo {
			width: 40px;
		}

		td{
			vertical-align: middle;
			font-size: 13px;
			padding: 0px;
			margin: 0px;
		}




.cityname-sportsdesk{
	font-family: GalaxiePolarisCondensed-Bold; 
	text-transform: uppercase;
	font-size: 36px; 
	line-height: 36px;
	height: 36px;
	color:#f2f2f2; 
/*	line-height: 0;*/
	padding: 0px 5px; 
	/*margin-top:-3px;*/
	position: relative;
	bottom: 8px;
}

	.scoredesk2 .cityname-sportsdesk{ 
		font-family: Helvetica, Arial, sans-serif;
		font-size: 24px;
		padding: 0; margin: 0;
		letter-spacing: -1px;
		position: relative;
		bottom: 3px;
		
	}
	.scoredesk3 .cityname-sportsdesk{ 
		font-family: Oswald-Regular;
		font-size: 20px;
		padding: 0; margin: 0;
	/*	letter-spacing: -1px;*/
		position: relative;
		bottom: 4px;
	}

 .clock-sportsdesk, .at {
 	font-family: Oswald-Light; 
	text-transform: uppercase;
	font-size: 18px; 
	color:#f2f2f2; 
	padding: 0 5px;
	position: relative;
	bottom: 4px;	
 }

 	.scoredesk2 .clock-sportsdesk, .at{
 		font-family: Helvetica, Arial, sans-serif;
 		letter-spacing: -1px;
 	}

 	.scoredesk2 .clock-sportsdesk, .scoredesk3 .clock-sportsdesk{
 		padding-right: 30px;
 		font-size: 12px;
 	}

	.scoredesk3 .clock-sportsdesk, .at{
		font-family: Oswald-Light; 
		font-size: 12px;
	}


.score-sportsdesk {
	font-family: GalaxiePolarisCondensed-Bold; 
	font-size:36px; 
	color:#f2f2f2;
	line-height:1;
	text-transform: uppercase;
	position: relative;
	bottom: 8px;
}

	.scoredesk2 .score-sportsdesk {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 28px;
		bottom: 4px;
		padding: 0px 10px;
	}
	.scoredesk3 .score-sportsdesk {
		font-family: Oswald-Regular; 
		font-size: 20px;
		bottom: 4px;
		padding: 0px 10px;
	}
